body{
    background-image: url("images/snake_game_background.jpg");
}

.game-restart{
    margin: 55px 45%;
}

canvas{
    display: block;
    margin: 20px auto;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}
.contact{
    margin: auto 10px;
}
p{
    margin-top: 10px;
    font-family: 'red', cursive;
    font-size: 2rem;
    color:crimson;
    text-align: center;
    text-decoration:solid;
}
